<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Xs Kata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <script>

    function getUrlVar(key){
	var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search);
	return result && unescape(result[1]) || "";
    }

    function reloadData(){
      var jqxhr = $.get( "/scores/" + getUrlVar("t"))
      .done(function(data) {

         var scoreRows = data.responses.map(function (item, index) {
           return "<tr><td>" + item.time
                  + "</td><td>" + item.questionHash + "</td><td>" + item.result + "</td></tr>"
         });

         var scoresTable = $('#responses-table');
         if (scoreRows.length) {
           scoresTable.html(scoreRows);
         }

         console.log("refreshing data!");

       })
       .fail(function(error) {
        console.log( "error " + error);
      });
    }

    $(document).ready(function(){
      setInterval(reloadData, 5000);
      reloadData();
    });

    </script>

  </head>

  <body>


    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Team History
          </h1>
        </div>
      </div>
    </section>

    <br/>
    <div class="container">
      <div class="columns is-mobile">

        <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th><abbr title="Question hash">#</abbr></th>
            <th>Result</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Date</th>
            <th><abbr title="Question hash">#</abbr></th>
            <th>Result</th>
          </tr>
        </tfoot>
        <tbody id="responses-table">
          <tr>
            <td colspan="4">No questions available yet</th>
          </tr>
        </tbody>
      </table>

    </div>

  </body>
</html>
