<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Xs Kata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <script>

    $(document).ready(function(){

      $('#registerForm').submit(function (e) {

          e.preventDefault();

          var teamName = $("[name='name']").val();
          var teamURL = $("[name='baseUrl']").val();

          $("#success-notification").addClass("is-hidden");
          $("#error-notification").addClass("is-hidden");


          $.post( "/register", { name: teamName, baseUrl: teamURL })
            .done(function(data) {
             $("#success-notification").removeClass("is-hidden");
             $("#registerButton").prop("disabled", true);
           })
           .fail(function(error) {
             $("#error-notification").removeClass("is-hidden");
          });
      });


    });

    </script>

  </head>
  <body>


    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Register to XsK
          </h1>
        </div>
      </div>
    </section>

    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item is-tab is-hidden-mobile is-active" href="/home/index.html">Board</a>
          <a class="nav-item is-tab is-hidden-mobile is-active" href="/home/register.html">Register</a>
        </div>
      </div>
    </nav>

    <br/>
    <div class="container">
      <form id="registerForm" method="post" action="/register">

        <div id="success-notification" class="notification is-success is-hidden">
          Team successfully registered!. Go to our <a href="/home/index.html">Leaderboard</a>
        </div>

        <div id="error-notification" class="notification is-danger is-hidden">
          Ops! There was an error during your registration. Try again.
        </div>

      <div class="columns is-mobile">

        <div class="column is-half is-offset-one-quarter">
          <div class="field">
            <label class="label">Team name</label>
            <p class="control has-icons-left">
              <input class="input" type="text" name="name" required placeholder="Your name">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <label class="label">URL</label>
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" name="baseUrl" placeholder="http://123.123.123.123:8080" required>
            </p>
          </div>

          <div class="field is-grouped">
            <p class="control">
              <button id="registerButton" class="button is-primary">Register</button>
            </p>
          </div>
        </div>
      </div>
    </form>

    </div>
    <br/>

  </body>
</html>
